@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/* 숨김 제목 및 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  /* 하위 호환성을 위해 rect를 줌 */
  clip: rect(0 0 0 0); 
  /* IE 구형브라우저는 ,를 인식하지 않음 */
  clip: rect(0,0,0,0);
  
}

body *, body *::before,body *::after{
  box-sizing: border-box;
}


html{
  font-size: 10px;
}
body{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  /* rem은 root에서 상속받은 값 * 숫자 */
  color: #181818;
  background: url(./images/bg_flower.png) no-repeat 50% 0, #ccc linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
/* 링크 스타일 */
a{
  color: inherit;
  /* body의 속성인 #181818을 물려받음 */
  text-decoration: none;
}

/* body{
  display: flex;
  flex-flow: column nowrap; 
  /* flex를 쓸경우 flex-flow 같이 써주기 */
  /* align-items: center; */
/* }  */

/* 스킵 네비게이션 */
.skip-nav a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height가 없어도 width있으니까 가상커서도 갈수있음 */
  height: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 0;
  text-align: center;
  z-index: 10;
}

.skip-nav a:focus{
  height: auto;
  padding: 10px 0;
  /* 포커스를 받으면 그 때 보여라 position: absolute → position: static */
  outline: 0;
}



/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}


/* 헤더 */
.header{
  background: #fff;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
.logo{
  position: absolute;
  margin: 0;
  top: 50px;
  left: 65px;
}

/* 안내 링크 목록 */
.member{
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}

.member li{
  display: inline-block;
  padding: 2px 0;
}

.member a{
  padding: 6px 0;
  display: inline-block;
}

/* 네비게이션 */
.navigation{
  padding-bottom: 35px;
}
.menu{
  background: linear-gradient(
    to bottom,
     #ffa332 0%,
     #ed6e25 35%,
     #ed6e25 70%,
     #ffa332 100%
     );
  border-top: 2px solid currentColor;
  margin: 10px 0 0 0;
  padding-left: 225px;
  list-style: none;
  height: 47px;
  border-radius: 0 0 5px 5px;
}

.menu-item{
  position: relative;
  float: left;
}

.menu-button{
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  display: block;
  line-height: 45px;
  padding: 0 20px;
  border: 0;
  border-left: 2px solid rgba(255,255,255,.5);
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000 ; 
}

.menu-act .menu-button{
  color:#ff0;
}

.menu-act .menu-button::after{
  content: "";
  display: block;
  /* 밑으로 내려갈수 있도록 block을 줌 */
  border-top: 2px solid #000;
}

.sub-menu{
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 47px;
  /* left: 0; */
  /* 이 속성을 줘서 li를 기준으로 작동, li를 기준으로 잡으면 검색창을 추가해도 offset을 바꾸지 않아도됨 */
  white-space: nowrap; 
  /* 이속성을 사용해서 줄바꿈을 금지시켜 수평정렬 */
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
  /* .sub-menu li : li(부모)의 공간이 없어서 수평정렬이 안됨  */
  /* sub-menu a : padding값을 주려고 */
}

.sub-menu a{
  padding: 8px 0;
  margin-right: 10px;
}

.sub-menu a::before{
  content: '\f192';
  /* \를 만나면 스크린리더기가 안읽어주지만 그래도 aria-hidden사용 */
  font-family: 'fontello';
  display: inline-block;
  text-decoration: inherit;
  /* fontello에서 가져온 값으로, 현재 페이지의 text-decoration값을 상속받겠다. */
  width:1em;
  margin-right: .2em;
}

.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e800';
}

.menu-act .sub-menu{
  display: block;
}

.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}


.sub-menu4, .sub-menu5, .sub-menu6 {
  
  /* white-space를 써서 서브메뉴가 밖으로 벗어남 */
  right: 0;

}

/* 텍스트 및 배경 애니메이션 - 비주얼 */

@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}

@keyframes bgAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.visual{
  height: 120px;
  position: relative;
}

.visual::before, .visual::after{
  content: "";
  /* content를 담지않은 배경만 보여줄 빈상자 생성 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-duration: alternate; */
  animation: bgAni 2000ms infinite alternate ease-in-out;
  /* 느리게-빠르게-느리게 */
}

.visual::before {
  background-image: url(./images/ani_flower_01.png) , url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
  /* 첫번째 url은 0 -10px과 대응, 2번째는 640px 0과 대응 */
}

.visual::after{
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}


.visual-text{
  width: 500px;
  /* position: absolute; */
  margin: 0;
  /* p의 기본적인 margin값을 제거 */
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  /* 진행한 상태에서 끝내겠다. 100% 지점에서 끝내겠다 */
  
}

.main{
  background: #fff;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; */
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
  border-radius: 15px 15px 0 0;
}

/* .clearfix::after{
  content: "";
  display: block;
  clear: both;
} */

.group{
  margin: 0 15px;
  float: left;
}
.group1{
  width: 250px;
}

.group2{
  width: 380px;
}

.group3{
  width: 190px;
}

/* 로그인 */

.login{
  background: radial-gradient(circle at right top, #ffa332,#ed6e25);
  /* 오른쪽 상단부터 진행되는 원형 그라디언트 */
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 15px 10px;
  /* h2가 가진 마진때문에 더 넓어보임 */
}

.login-heading{
  margin: 0;
  color: #ff0;
  font-size: 1.6rem;
  font-weight: 700;
  /* h2가 div가 되는 순간 h2가 가진 font-weight이 없어짐, 700은 h2와 같은 굵기지만 안전성으로 줌 */
  text-indent: 10px;
}

.login-form{
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.login-form fieldset{
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.user-email, .user-pw {
  margin-bottom: 5px;
}

.user-email *, .user-pw *{
  vertical-align: middle;
}

.login-form label{
  display: inline-block;
  /* label은 inline속성 */
  width: 4em;
  /* 현재글자 * 4로 주면 글자크기에 상자가 변하니까 em으로 적용*/
}

.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 1px 1px 1px 0.5em;
  /* 반글자만큼 왼쪽에 패딩을줌 */
}

.btn-login{
  width: 50px;
  height: 50px;
  padding: 0 5px;
  border: 0;
  border-radius: 3px;
  background: #ed6e25;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.login-member{
  background: #fff;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  letter-spacing: -1px;
  /* 글자사이의 공간이 줄어듬 */
  /* white-space: nowrap; */
  /* 개행금지라서 회원가입, 아이디/비번찾기 각각의 글씨가 안떨어짐 */
}

.login-member li{
  display: flex;
  flex-flow: row nowrap;
  /* 안에있는 a가 block이기때문에 부모인 li를 display: flex로 조정 */
  align-items: center;
  /* 아이콘은 가운데정렬하기 위한 코드 */
}

.login-member .icon-right-open{
  color:  #ed6e25;
}

.login-member a {
  display: block;
  padding: 8px 0;
}

/* 유효성 검사 배너 */
.validation-list {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding-left: 0;
}

.validation-list a {
  display: block;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 8px 10px 8px 50px;
  background: url(./images/validation_icon.png) no-repeat 25px 50% / 20px 20px, linear-gradient(to bottom, #eee, #eee);
  margin-top: 10px;
}

.validation-list a:hover, .validation-list a:focus{
  color: #f00;
}

/* 웹 관련 용어 */
.term {
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
.term-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
  /* 안정성을 위해 font-weight을 줌 */
}
.term-list {
  margin: 15px 0 0 0;
  /* 원래 dl의 margin은 1em만큼의 margin-top, margin-bottom이 생김 */
}
.term-list > div{
  overflow: hidden;
}

.term-list div:nth-child(even){
  margin-top: 15px;
}

.term-list-subject, .term-list-brief {
  float: right;
  width: 145px;
  /* subject는 width값을 줘서, 왼쪽으로 밀어버리고/ brief는 width값을 줘서 전체사이즈를 못가지게 함으로써 subject 밑으로 배치됨 */
}

.term-list-subject{
  color: #71818d;
}

.term-list-thumbnail {
  float: left;
  /* float:left가 되지 않으면, brief가 (썸네일은 normal-flow니까) 라인박스 밖으로 배치됨 */
}

.term-list-thumbnail img{
  display: block;
  /* 아래 아주 조금의 margin값을 없애기 위한방법  */
  /* block영역 안에 inline상자가 배치되면 baseline에 배치됨 그래서 아주조금의 margin이 생김 */
}
.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
}

.term-list dd {
 margin-left: 0;
}

.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief{
  float: left;
}

.term-list div:nth-child(even) .term-list-thumbnail{
  float: right;
}

/* 검색폼 */
.search-form {
  background: #ccc linear-gradient(#ccc, #eee);
  /* #ccc는 fallback color, linear-gradient를 지원하지 않는 브라우저에서는 단색으로 나타나게 */
  border: 1px solid #aaa;
  border-bottom-color:#fff;
  /* 또는 border-bottom-color:transparent */
  /* 또는 border-bottom: 0을 줘도됨 */
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}

.search-form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.search-form-container {
  display: flex;
  /* fieldset은 크롬브라우저를 제외한 나머지는 display: flex를 인식하지 못함 */
  /* 그래서 div를 줘서 그언에 주면 인식함 */
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.search-form [name="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 0.5em;
  height: 22px;
  /* flex-grow: 1; */
  width: 190px;
  /* width값을 지정해서 파이어폭스에서 fieldset을 나가지않게 */
  /* 폼이 아니었다면 flex-grow가 적용이되지만, flex-grow를 쓰면 파이어폭스에서 적용X */
  /* margin: 0 5px; */
}

.btn-search{
  background: #333;
  border: 1px solid #aaa;
  color: #fff;
  border-radius: 3px;
  height: 22px;
  padding: 0 10px;
}

/* 공지사항 및 자료실 */
.board {
  position: relative;
  /* height: 200px; */
  /* 높이를 지정하지 않은경우, 공지사항 및 자료실 밑에 section을 만들면 그 요소가 컨텐츠의 높이를 몰라서 공지사항 및 자료실 옆에 배치됨 */
  /* 요소에 따라 유연하게 늘어나게하려고 높이를 주석 */
  margin-top: 20px;
}

.notice-list, 
.pds-list,
.notice-more,
.pds-more{
  display: none;
}
/* .is-active를 가지면 보이게(동적으로) */

.is-active .notice-list, 
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more{
  display: block;
}

.tab {
  /* float: left; */
  /* 공지사항과 자료실의 위치가 같으니까 자료실(h2) 위에 걸리는 normal-flow가 없으므로 float를 사용할수 있음 */
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.notice-heading {
  left: 0;
}

.pds-heading {
  left: 83px;
}

.tab a{
  display: block;
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  background: #ccc linear-gradient(#ccc, #eee);
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 15px;
}
.is-active .tab {
  z-index: 5;
/* 활성화된 오렌지색 테두리가 위에 있도록 */
}
.is-active .tab a{
  color: #ed6e25;
  border-color: #ed6e25 #ed6e25 #fff #ed6e25;
  background: #fff;
  /* 기본값에 background 단축속성을 사용했으면 여기서도 background 단축속성을 사용 */
  
}

.notice-list li,
.pds-list li{
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

.notice-list a,
.pds-list a{
  /* flex-grow: 1; */
  /* 날짜와 아이콘을 뺀 나머지 공간을 1만큼차지 */
  /* flex-grow를 사용하면 text-overflow를 사용하지 못함 */
  text-overflow: ellipsis;
  /* text-overflow은 한 줄일때만 사용가능한 속성 */
  white-space: nowrap;
  /* 개행이 안되게 한 줄로 만들어줌 */
  overflow: hidden;
  /* 한 줄을 제외한 나머지 코드는 숨겨줘 */
  width: 280px;
  /* flex-grow를 줄 수 없으니까 width값을 알려줄 요소가 필요함 */
}

.notice-list, 
.pds-list {
  width: 100%;
  /* position: absolute;를 사용했기때문에 콘텐츠만큼 normal-flow를 가짐, 전체 사이즈가 빈공간이 없게 하기위해 width:100%을 줌 */
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  padding-top: 45px;
  min-height: 170px;
  /* position: absolute;
  left: 0;
  top: 45px; */
  /* position: absolute가 있으면 li>a의 항목의 개수가 늘어나면 유연하게 늘어나지 못함 */
}


.notice-more,
.pds-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
  /* 클릭할 수 있는 영역을 주기 위해서 padding을 주고, 그 값만큼 offset값을 바꿈 */
}
/* 꾸미기 값은 기본값으로 .is-active가 생기면 보이게  */

.notice-more::before,
.pds-more::before {
  color: hsla(110, 50%, 30%, 1);
}

/* 새소식 */
.news{
  margin-top: 20px;
  position: relative;
}

.news::before{
  content: "";
  /* content가 있어야 상자가 만들어짐 */
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 1px;
  /* 높이와 너비를 줘야 보임 */
  /* border-image도 만들수 있지만 까다로움 */
  background: #ccc linear-gradient(to right, #ccc, #fff);
  /* 오른쪽으로 그라디언트 : to right */
}

.news-heading{
  font-size: 1.6rem;
  font-weight: 700;
  color: #ed6e25;
  margin: 0;
}

.news-article{
  margin-top: 35px;
}

.news-article-link{
  display: grid;
  /* 이제 더이상 inline이 아닌 grid 상자 */
  grid-template-columns: 130px 1fr;
  grid-template-rows: auto auto auto;
  /* 행이 3개 */
  /* 높이를 정해주는 것이 아니라 자동으로 유연하게 auto로 설정 */
  grid-template-areas: 'thumbnail subject'
                       'thumbnail date'
                       'thumbnail brief';
  /* 순서만 바꿔도 화면 순서가 바뀜 */
}

.new-article-brief{
  margin: 10px 0 0;
  /* grid-area: 3 / 2; */
  grid-area: brief;
  line-height: 1.5;
}

.news-article-thumbnail{
  margin: 0;
  /* grid-area: 1 / 1 / 4 / 2; */
  grid-area: thumbnail;
  
}

.news-article-thumbnail img{
  box-shadow: 0 15px 10px 0 #aaa;
}


.news-article-thumbnail figcaption{
  margin-right: 18px;
  text-align: center;
  margin-top: 15px;
}

.news-article-subject{
  margin: 0 0 5px 0;
  /* grid-area: 1/2; */
  grid-area: subject;
  font-size: 1.5rem;
}

.news-article-date{
  /* grid-area: 2 / 2; */
  grid-area: date;
}

.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.news-more::before{
  color: hsla(110, 50%, 30%, 1);
}

/* 신규이벤트 및 관련사이트 */
.gradient-box {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.event{
  position: relative;
  border-bottom: 1px solid #aaa;
}

.event-heading, 
.related-heading, 
.favorite-heading{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
}

/* .group3 [class$="heading"]{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.group3 [class$="heading"] //heading으로 끝나는 클래스만~ */

.point-color{
  color: #ed702d;
}

.event-thumbnail img{
  /* background: red; */
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #aaa;
}

.event-brief{
   line-height: 1.5;
}

.event-brief em{
  font-style: normal;
}

.btn-event{
  position: absolute;
  top: 0;
  right: 0;
}

.btn-prev, 
.btn-next {
  border: 0;
  padding: 18px 0 0 0;
  overflow: hidden;
   /* 글씨가 보이면 감춰줘 */
  height: 18px;
  /* 밑에서 padding을 줘서 글자를 밀었으니까, 그 텍스트만큼 상자가 안늘어나게 높이를 줌, 텍스트를 아예 안주는 aria-label을 줄 수 있음 */
  /* padding을 줘서 글자를 밀어버림 */
  width: 19px;
  background: transparent url(./images/back_forward.png) 0 0 no-repeat;
}

.btn-next {
  background-position: -36px 0;
}

.related{
  padding-top: 10px;
}

.related-list{
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0 0;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  transition: height 400ms, padding 400ms 400ms;
  /* 마우스가 시작하는 지점에 transition을 줘야함 */
}

.related-list a{
  display: block;
  /* 마우스영역을 늘어나게 */
  line-height: 20px;
  padding-left: 20px;
}

.related-list:hover{
  height: 147px;
  padding: 10px 0;
}

.related-list li{
  padding: 2px 5px 3px 5px;
}

/* 인기 사이트 */
.favorite {
  position: relative;
  margin-top: 20px;
}

.favorite-list{
  margin: 10px 0 0 0;
  padding-left: 0;
  /* overflow: hidden; */
  /* 넘버링을 눈에 안보이게 overflow: hidden;으로 하면 안보이긴하지만, 보조기기에서는 읽어줌 */
  list-style: none;
}

.favorite-list li{
  margin-top: 8px;
  counter-increment: number;
  /* counter-reset을 안써줘도 초기값은 0 */
  /* display: flex;
  flex-flow: row nowrap;
  align-items: center; */
  position: relative;
}

.up, .stop, .down{
  position: absolute;
  /* absolute되면서 자동으로 block이됨 */
  right: 0;
  top: 50%;
  margin-top: -5px;
  /* 가운데 있는 것처럼 만들기 위해서(IE9 이하버전에서 flex가 사용이 안될때) */
  font-style: normal;
  width: 9px;
  height: 11px;
  overflow: hidden;
  /* padding을 이용해서 글씨가 안보이게 */
  padding-top: 11px;
  height: 0;
  background: url(./images/rank.png) no-repeat;
  
}

.favorite-list a{
  margin-right: 5px;
  /* flex-grow: 1; */
  display: block;
  margin: 0 10px 0 20px;
}

.favorite-list .up{
  background-position: 0 0;
  
}
.favorite-list .down{
  background-position: 0 50%;
}
.favorite-list .stop{
  background-position: 0 100%;
}

.favorite-list li::before{
  position: absolute;
  left: 0;
  top: 0;
  content: counter(number);
  background: #999;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  color: #fff;
  font-size: 1.2rem;
  display: inline-block;
}

.favorite-more{
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 8px;
}

.favorite-more::before{
  color: hsla(110, 50%, 30%, 1);
}

/* 슬로건 */

.slogan{
  position: relative;
  padding: 0 70px 15px 180px;
}

.slogan-heading {
  width: 110px;
  height: 83px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  line-height: 83px;
  position: absolute;
  left: 35px;
  bottom: -35px;
}

.slogan-heading::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* slogan-heading기준 */
  width: 100%;
  height: 100%;
  /* 지정하지 않으면 텍스트가 없기때문에 크기가 없음 */
  background: url(./images/coffee.png) no-repeat 0 0;
}


.slogan-brief{
  margin: 0;
  color: #a09784;
}

.slogan-brief q::before{
  font-size: 3.5rem;
  position: relative;
  top: 10px;
  /* 앞에 "의 위치를 조정 */
}

.slogan-brief q::after{
  content: "";
  /* aspect뒤에 "를 없앰 */
}

/* 푸터 */
.footer{
  background: #ccc linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}

.footer-inner{
  padding: 15px 100px 15px 180px;
  position: relative;
}

/* 푸터로고 */
.footer-logo{
  position: absolute;
  top: 35px;
  left: 35px;
}

/* 가이드 링크 목록 */
.guide-list{
  margin: 0;
  padding: 2px 0 0 38px;
  list-style: none;
  background: #7b8385;
  color: #fff;
  overflow: hidden;
  border-radius: 20px;
}

.guide-list li{
  float: left;
  margin: 0 5px;
  /* 웹 접근성 : 이웃한 컨텐츠 간의 구분선 */
}

.guide-list a{
  display: block;
  padding: 8px 10px;
}

/* 주소 및 저작권 */
.address{
  font-style: normal;
  margin: 10px 0 5px;
}

.address span{
  margin-right: 15px;
}

.copyright{
  font-size: 1.4rem;
  /* small태그는 inline속성 */
}

/* HTML5 & CSS3 로고 */
.badge{
  position: absolute;
  top: 15px;
  right: 0;
}